.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 39, 39);
    color: rgb(227, 226, 226);
}

.left-section {
    width: 22%;
    font-size: 2.5vw;
    font-weight: 600;
    margin-left: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right-section {
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-right: 10vw;
    font-size: 1.25vw;
}

.right-section a {
    cursor: pointer;
    transition: 0.15s;
}

.right-section div:hover {
    color: white;
    text-decoration: underline;
}